body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* close to google's colour */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #dadce0;
}

/* Nav bar section */
#nav_bar {
    list-style: none;
    padding: none;
    margin: none;
}

#nav_bar li {
    display: inline;
    margin-right: 20px;
}

#nav_bar li:first-child {
    margin-left: auto;
}

#nav_bar li a {
    text-decoration: none;
    color: #3c4043;
}

#nav_bar li a:hover {
    text-decoration: underline;
}

#sign_in {
    background-color: #4285f4;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
}

/* Google logo and search area */
.google {
    text-align: center;
    padding: 50px 0;
 }

.google #google_logo {
    margin-bottom: 20px;
 }

 .form {
    margin-bottom: 20px;
 }

 #form_search {
    width: 450px;
    padding: 10px;
    border-radius: 24px;
    border: 1 px solid #dfe1e5;
    outline: none;
 }

 .lower_buttons {
    margin-bottom: 20px;
 }


 /* footer section */

 footer {
    background: #f2f2f2;
    position: fixed;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
 }

footer ul {
    list-style: none;
    padding: 0;
}
 
footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li a {
    text-decoration: none;
    color: #757575
}

footer ul li a:hover {
    text-decoration: underline;
}