body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 92px;
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Nav bar section */
#nav_bar {
    float: right;
}

#nav_bar li {
    display: inline-block;
    margin-right: 25px;
}

#nav_bar #sign_in {
    background: #4887ef;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
}

.nav_link {
    color: #404040;
    text-decoration: none;
}


li.nav-link a:hover {
    text-decoration: underline;
}

#sign_in {
    color: white;
}

#sign_in:hover {
    box-shadow: 1px 1px 5px #999;
}

/* Google logo and search area */
.google {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.google #google_logo {
    margin-top: 20px;
 }

 #form_search {
    line-height: 32px;
    width: 450px;
    padding: 10px;
    margin-bottom: 20px;
 }

 .form {
    text-align: center;
 }

 .lower_buttons {
    text-align: center;
    margin-bottom: 20px;
 }


 /* footer section */

 footer {
    background: white;
    border-top: solid 2px #e4e4e4;
    padding: 20px 0;
    text-align: center;
    clear: both;
 }

 
